html {
	height: 100%;
}
body {
	margin: 0;
	background: #CDCDCD;
	height: 100%;
}
#floater {
	float: left;
	height: 50%;
}
.display {
	clear: both;
	margin: 0 auto;
	position: relative;
}
.monitor {
	font-family: Arial;
	font-size: 30px;
}
.desktop {
	border-radius: 2px;
	-moz-border-radius: 2px;
	text-align: center;
}