#floater {
	margin-bottom: -107px;	/* half of the total height */
}
.display {
	width: 280px;	/* total width */
}
.monitor {
	padding: 15px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background: white;
	color: white;
}
.desktop {
	line-height: 140px;
	background: #616161;
}
/* modify */
.holder, .holder-middle, .holder-bottom {
	margin: 0 auto;
}
.holder {
	width: 56px;
	height: 0;
	border-width: 0 4px 30px;
	border-style: none solid solid;
	border-color: transparent transparent #EDEDED;
}
.holder-middle {
	width: 64px;
	height: 0;
	border-width: 0 10px 3px;
	border-style: none solid solid;
	border-color: transparent transparent #F9F9F9;
}
.holder-bottom {
	width: 84px;
	height: 2px;
	background: white;
}
